.featured-post {
  height: 400px;
  padding: 20px;
  margin-bottom: 10px;
  background-image: linear-gradient(135deg, #83a4d4, #b6fbff);
  color: white;
}

.featured-post h1 {
  font-size: 60px;
  color: #464444;
  text-align: left;
}

.featured-post h2 {
  font-size: 40px;
  text-align: left;
  color: white;
}

.blog-grid-bottom-container h3 {
  color: black;
}

.blog-h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
}

.blog-grid-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.blog-grid-bottom .blog-post-tile {
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
}

/* mobile media query*/
@media (max-width: 600px) {
  .featured-post {
    height: 600px;
  }
  .blog-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 10px;
  }
  .blog-grid-bottom-container {
    overflow-x: auto;
  }

  .blog-grid-bottom .blog-post-tile {
    height: auto;
    max-width: 400px;
    padding: 30px;
    border-radius: 5px;
  }
}
